pkgbase = motif-git
	pkgdesc = Desktop music production app built on Strudel: every gesture writes live code
	pkgver = r0
	pkgrel = 1
	url = https://github.com/RobinHil/motif
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = bun
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxkbcommon
	depends = libdrm
	depends = mesa
	depends = at-spi2-core
	depends = libcups
	depends = hicolor-icon-theme
	provides = motif
	conflicts = motif
	options = !strip
	options = !debug
	source = motif::git+https://github.com/RobinHil/motif.git
	source = motif.desktop
	source = motif.sh
	source = motif.xml
	sha256sums = SKIP
	sha256sums = 0ecb2e7252511f1e8bf0fbfcb44c4a47d33b42d2c1584b8da9113d8c015faaf9
	sha256sums = d8a7a00a24b1a5fd6d179c8027bfcbf7ff41d6ce08fc1ded78ee3e422b03dc31
	sha256sums = a5be2bce77931122d2516a82ad2e356f99f58ecefe8650cc9c6f974647e41524

pkgname = motif-git
